
<div *ngIf="msg" class="alert alert-success alert-dismissible fade show" role="alert">
    Data stored successfully!
    <button type="button" class="btn-close" aria-label="Close" (click)="removeMsg()">X</button>
  </div>


<form [formGroup]="addForm" (ngSubmit)="saveData()">

   
      

    <div>
        <label for="id">Id</label>
        <input type="number" formControlName="id" id="id">
        <div *ngIf="addForm.controls.id.invalid && addForm.controls.id.touched" class="error">Id is required</div>
    </div>

    <div>
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name">
        <div *ngIf="addForm.controls.name.invalid && addForm.controls.name.touched" class="error">Name is required</div>
    </div>

    <div>
        <label for="place">Place</label>
        <input type="text" formControlName="place" id="place">
        <div *ngIf="addForm.controls.place.invalid && addForm.controls.place.touched" class="error">Place is required</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



